/* ===== COMMENTS ===== */
 
#comments {
	position: relative;
	margin-bottom: 1.5rem;
	border: 1px solid $border-color;
}
 
	/* Comments Number */
 
	#comments-number {
		padding: 1.5rem;
		font-size: 22px;
		border-bottom: 1px solid $border-color;
		text-align: center;
	}
 
		.has-comments-nav #comments-number { text-align: left; }
 
	/* Comments Nav */
 
	.comments-nav {
		position: absolute;
		top: 1.75rem;
		font-size: 13px;
		text-transform: uppercase;
		line-height: 22px;
		vertical-align: middle;
	}
 
		.comments-nav { right: 1.5rem; }
 
	/* Comment List */
 
	ol.comment-list {
		list-style: none;
		margin: 1.5rem;
	}
 
		.comment-list ol.children {
			list-style: none;
			margin-left: 0;
		}
 
		.comment-list .depth-1 > ol.children { margin-left: 4.5rem; }
 
		@media screen and ( max-width: 480px ) {
 
			.comment-list .depth-1 > ol.children { margin-left: 1.5rem; }
		}
 
		/* Individual comments */
 
		.comment,
		.ping { clear: both; }
 
		.ping { margin-bottom: 1.5rem; }
 
			.comment .avatar {
				width: 3rem;
				margin-bottom: 1.5rem;
			}
 
			.children .comment .avatar { 
				width: 2.25rem; 
			}
 
				.comment .avatar { 
					float: left; 
					margin-right: 1rem; 
				}
 
			.comment-meta { 
				margin-bottom: 1.5rem;
			}
 
			.comment-parent {
				font-size: 14px;
				margin-bottom: 0.5rem;
			}
 
			.comment-author {
				font-style: normal;
				font-weight: 700;
			}
 
				.comment-author a { text-decoration: none; }
 
			.comment .wrap { overflow: hidden; }
 
			.comment-content {
				overflow: hidden;
				margin: 0 0 0.5rem;
			}
 
		.comment-reply-login {
			position: absolute;
			top: -9999em;
		}
 
			.comment-reply-login { left: -9999em; }
 
/* ====== Respond ====== */
 
.comment-respond { 
	margin-bottom: 1.5rem; 
	border: 1px solid $border-color;
}
 
	.comment-list .comment-respond { 
		margin-bottom: 1.5rem; 
	}
 
	/* Comment reply title */
 
	.comment-reply-title {
		position: 	relative;
		margin-bottom: 1.5rem;
		padding: 	1.5rem;
		text-align:		center;
		border-bottom:	1px solid $border-color;
	}
 
		#cancel-comment-reply-link {
			position: absolute;
			top: 0;
			right: 0;
			text-shadow: none;
			background: none;
		}
 
		#cancel-comment-reply-link::after {
			content: '\f00d';
			width: 30px;
			height: 30px;
			line-height: 30px;
			font-size: 14px;
			border-bottom-left-radius: 5px;
		}
 
	/* Comment Form */
 
	.comment-form { 
		padding-bottom: 1.5rem;
		margin: 0 2.25rem; 
	}
 
		.comments-closed,
		.comment-respond .logged-in-as,
		.comment-respond .must-log-in,
		.comment-notes { text-align: center; }
 
		#email-notes { display: block; }
 
		.comment-respond .comment-form-author,
		.comment-respond .comment-form-email { width: calc( 50% - 0.75rem ); }

		.comment-respond .comment-form-author { margin-right: 1.5rem; }

		.comment-respond .comment-form-author { float: left; }
		.comment-respond .comment-form-email { float: right; }

		.comment-respond textarea { min-height: 18rem; }

		.comment-respond .submit { width: 100%;	}

@media only screen and ( max-width: 480px ) {

	#comments, #respond {
		width: calc( 100% + 3rem );
		margin-left: -1.5rem;
		border-left-width: 0px;
		border-right-width: 0px;
	}
	.comment-respond .comment-form-author,
	.comment-respond .comment-form-email { width: 100%; }
}