/* ===== COMMENTS ===== */
 
#comments {
	position: relative;
	margin-bottom: 1.5rem;
}
 
	/* Comments Number */
 
	#comments-number {
		text-align: center;
	}
 
	/* Comments Nav */
 
	.comments-nav {
		position: absolute;
		top: 1.75rem;
		font-size: 0.8125rem;
		text-transform: uppercase;
		vertical-align: middle;
	}
 
		.comments-nav { right: 1.5rem; }
 
	/* Comment List */
 
	ol.comment-list {
		list-style: none;
		margin: 0 0 3rem;
	}
 
		.comment-list ol.children {
			list-style: none;
			margin-left: 0;
		}
 
		/* Individual comments */
 
		.comment,
		.ping { 
			clear: both; 
			border: 1px solid $border-color;
			margin: 1.5rem 0;
			padding: 1.5rem;
		}

		@media screen and ( max-width: 480px ) {
			.comment,
			.ping {
				padding: 0 0 1.5rem;
				border-width: 0;
				border-bottom-width: 1px;
			}
			
			.comment .comment {
				padding: 0;
				border: 0;
			}
		}
 
		.ping { margin-bottom: 1.5rem; }
 
			.comment .avatar {
				width: 3rem;
				margin-bottom: 1.5rem;
			}
 
			.children .comment .avatar { 
				width: 2.25rem; 
			}
 
				.comment .avatar { 
					float: left; 
					margin-right: 1rem; 
				}
 
			.comment-meta { 
				margin-bottom: 1.5rem;
			}
 
			.comment-parent {
				font-size: 0.875rem;
				margin-bottom: 0.5rem;
			}
 
			.comment-author {
				font-style: normal;
				font-weight: 700;
			}
 
				.comment-author a { text-decoration: none; }
 
			.comment .wrap { overflow: hidden; }
 
			.comment-content {
				overflow: hidden;
				margin: 0 0 0.5rem;
				font-size: 0.875rem;
				line-height: 1.715;
			}

			.comment-reply-link {
				width: 100%;
			}
 
		.comment-reply-login {
			position: absolute;
			top: -9999em;
		}
 
			.comment-reply-login { left: -9999em; }
 
/* ====== Respond ====== */
 
.comment-respond { 
	margin-bottom: 1.5rem; 
}
 
	/* Comment reply title */
 
	.comment-reply-title {
		position: relative;
		margin-bottom: 1.5rem;
		text-align: center;
	}
 
		#cancel-comment-reply-link {
			position: absolute;
			top: 0;
			right: 0;
			text-shadow: none;
			background: none;
		}
 
	/* Comment Form */
 
	.comment-form {}
 
		.comments-closed,
		.comment-respond .logged-in-as,
		.comment-respond .must-log-in,
		.comment-notes { text-align: center; }
 
		#email-notes { display: block; }
 
		.comment-respond .comment-form-author,
		.comment-respond .comment-form-email { width: calc( 50% - 0.75rem ); }

		.comment-respond .comment-form-author { margin-right: 1.5rem; }

		.comment-respond .comment-form-author { float: left; }
		.comment-respond .comment-form-email { float: right; }

		.comment-respond textarea { min-height: 15rem; }

		.comment-respond .submit { width: 100%;	}

@media only screen and ( max-width: 480px ) {

	.comment-respond .comment-form-author,
	.comment-respond .comment-form-email { width: 100%; }
}