/**
 * Defaults
 * --------------------------------------------------------------------------- */
 
/* === Box model === */
 
*, *::before, *::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
 
/* === HTML === */

html { font-size: 16px; }

@media screen and ( max-width: 640px ) {
	html { font-size: 15px; }
}

@media screen and ( max-width: 400px ) {
	html { font-size: 14px; }
}
 
/* === Body === */
 
body {
	font-family: 'Open Sans', helvetica, arial, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	color: $text-color;
	background: $body-background-color;
	overflow-wrap: break-word;
	overflow-x: hidden;
}

/* === Links === */
 
a {
	color: $primary-color;
	text-decoration: none;
}

a:focus { text-decoration: underline; }
	
 /* === Headings (and some things that look like headings) === */
 
h1, h2, h3 {
	margin: 0 0 0.75rem;
	font-weight: 700;
	line-height: 1.5;
	color: $heading-color;

	a { color: $heading-color; }
	
	a:hover,
	a:focus { 
		color: $primary-color; 
		text-decoration: none;
	}
}
 
h1,
.headline {
	font-size: 2.25rem;
	line-height: 1.3335;
	letter-spacing: -0.02em;
}
 
h2 {
	font-size: 1.5rem;
	letter-spacing: -0.02em;
}
 
h3,
.plural .entry-title {
	font-size: 1.25rem;
	letter-spacing: -0.01em;
}

.archive-description, 
.singular .entry-summary, 
.sub-headline {
    font-size: 1.25rem;
    line-height: 1.6;
}
 
/* === Paragraphs and lists === */
 
p { margin: 0 0 1.5rem; }
 
ol, ul { list-style: none; }
 
ul {
	list-style: disc;
	margin: 0 0 1.5rem 2rem;
}
 
ol {
	list-style-type: decimal;
	margin: 0 0 1.5rem 2rem;
}
 
dl { margin: 0 0 1.5rem; }

/* === Horizontal Rule === */

hr { background: $border-color; }
 
/* === Code and Preformatted text === */
 
code { margin: 0 0 1.5rem; }
pre { margin: 0 0 1.5rem; }
 
/** === Images === */
 
img {
	display: block;
	height: auto;
	max-width: 100%;
}
 
/* === Gallery === */

.gallery {
	margin: 0 0 1.5rem;
	padding-top: 0.75rem;
}
 
.gallery-item { margin-bottom: 1.5rem; }

	.gallery-item img { outline: 6px solid $border-color; }

	.gallery-item a:focus img { outline-color: $primary-color; }

	.gallery-caption { 
		margin: 1.5rem 0 0rem; 
		font-size: 0.875rem;
		line-height: 1.715;
		font-style: italic;
	}

/* === Embeds === */

.wp-audio-shortcode,
.wp-video-shortcode,
audio,
video,
object,
embed,
iframe {
	max-width: 100%;
	margin-bottom: 1.5rem;
}

.wp-audio-shortcode,
.wp-video-shortcode,
audio,
video {
	display: block;
	max-width: 100%;
}

	.embed-wrap {
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		overflow: hidden;
	}

	.embed-wrap iframe,
	.embed-wrap object,
	.embed-wrap embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		max-width: 100%;
		height: 100%;
	} 