/**
 * Layout
 * --------------------------------------------------------------------------- */
 
.wrap {
	max-width: 1096px;
	margin: auto;
}
 
	#content {
		padding: 3rem 3rem 1.5rem;
		background: #FFF;
	}

		#content > article > header,
		#content > header {
			width: 100%;
			margin: -3rem 0 3rem;
			padding: 4.5rem 0 3.75rem;
		}

		@media screen and ( max-width: 960px ) {

			#content { padding: 2.25rem 2.25rem 0.75rem; }

			#content > article > header,
			#content > header {
				margin: -2.25rem 0 2.25rem;
			}
		}

		@media screen and ( max-width: 480px ) {

			#content { padding: 1.5rem 1.5rem 0.75rem; }

			#content > article > header,
			#content > header {
				margin-top: -1.5rem;
				padding: 3rem 0 2.25rem;
			}
		}
 
/* === 1 Column Narrow === */
 
.layout-1c-narrow {

	#below-site-header > .wrap { max-width: 950px; }

	.entry-title,
	.entry-content {
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
	}
	
	@media screen and ( min-width: 1161px ) {
		#below-site-header > .wrap { margin: 1.5rem auto; }
	}

	@media screen and ( max-width: 1160px ) {
		#below-site-header > .wrap { max-width: 100%; }
	}
} 

/* === 1 Column Wide === */

.layout-1c-wide {
	
	@media screen and ( min-width: 1161px ) {
		#below-site-header > .wrap { margin: 1.5rem auto; }
	}


	@media screen and ( max-width: 1160px ) {
		#below-site-header > .wrap { max-width: 100%; }
	}
}
 
/* === Page Builder === */
 
.layout-pagebuilder {
	background: #FFF;

	.breadcrumb-trail {
		width: 100vw;
		position: relative;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
	}

	#content { padding: 0 1.5rem; }

	#content > article > header, 
	#content > header { margin-top: 0; }
}

/* === Sticky Header === */

:not(.admin-bar).sticky-header {

	#header {
		position: fixed;
		width: 100%;
		top: 0;
	}

	#below-site-header { padding-top: 6rem;	}
}

@media screen and ( max-width: 480px ) {
	
	:not(.admin-bar).sticky-header {
		#below-site-header { padding-top: 4.5rem; }
	}
}