/**
 * Primary Menu
 * --------------------------------------------------------------------------- */

.menu-open {
	overflow-y: scroll;
	width: 100%;

	#below-site-header {
		position: fixed;
		z-index: 90;
		height: 100%;
		left: 0;
		right: 0;
	}

	.overlay {
		width: 100%;
		height: 100%;
		z-index: 90;
		position: absolute;
		background: $transparent-light;
	}
}

#menu-primary {
	float: right;

	.menu-toggle { display: none; }

	ul {
		list-style: none;
		margin: 0;
	}

	.menu-item > a {
		display: block;
		font-weight: bold;
		color: $transparent-light;

		&:focus,
		&:hover { 
			color: #FFF;
			text-decoration: none;	
		}

	}

	.current-menu-item > a { color: #FFF; }

	.sub-menu {
		z-index: 9999;

		li a { border-bottom: 1px solid rgba(255,255,255,0.1); }
	}
}

@media screen and ( min-width: 961px ) {
	
	#menu-primary {

		.menu-item {
			position: relative;
			float: left;
			margin-left: 2.25rem;

			a {	line-height: 96px; }
		}

		.sub-menu.focus,
		.menu-item:hover > .sub-menu { right: 0; }
		
		.sub-menu {
			width: 18rem;
			position: absolute;
			right: 999em;
			background: $background-color;

			.menu-item {
				float: none;
				margin: 0;
				height: auto;

				a {
					padding: 1rem;
					line-height: 1.65;
				}
			}
			
			.sub-menu.focus,
			.menu-item:hover > .sub-menu { 
				position: absolute; 
				top: 0; 
				right: 18rem; 
			}
		
		}

	}

}

@media screen and ( max-width: 960px ) {

	#menu-primary {

		.menu-toggle {
			display: block;
			margin: 0;
			padding: 0;
			width: 96px;
			height: 96px;
			line-height: 96px;
			font-size: 1.5rem;
			text-align: center;
			color: #FFF;
			cursor: pointer;
		}

		.menu-button {
			width: 100%;
			height: 100%;
			padding: 0;
			border-radius: 0;
			box-shadow: none;
			background: transparent;
			font-size: 24px;
			opacity: 1;

			.fa { color: #FFF; }

			&:hover,
			&:focus { background: rgba(255,255,255,0.1); }

			.selected i::before { content: '\f00d';	}
		}

		.menu-items {
			display: block;
			visibility: hidden;
			position: fixed;
			top: 96px;
			bottom: 0;
			right: -50vw;
			z-index: 999999;
			overflow-y: auto;
			width: 50vw;
			transition: all .4s ease-in-out 0s;
			background: $background-color;
		}

		.menu-item {
			display: block;

			a {
				height: auto;
				line-height: inherit;
				margin: 0;
				padding: 1rem;
				border-bottom: 1px solid rgba(255,255,255,0.1);
			}
		}

		.sub-menu {
			position: absolute;
			right: 999em;
		}
		
		a:focus + .sub-menu,
		.sub-menu.focus,
		.menu-item:hover > .sub-menu {
			position: relative;
			right: 0;
		}

	}

	.admin-bar #menu-primary .menu-items {
		top: 128px;
	}

	#menu-primary.visible .menu-items {
		visibility: visible;
		right: 0;
	}

}

@media screen and (max-width: 782px) {
	.admin-bar {
		#menu-primary {
			.menu-items {
				top: 142px;
			}
		}
	}
}

@media screen and (max-width: 640px) {
	#menu-primary {
		.menu-items {
			width: 100%;
			right: -100%;
		}
	}
}

@media screen and (max-width: 480px) {
	#menu-primary {
		.menu-toggle {
			height: 72px;
			line-height: 72px;
			width: 72px;
		}
		.menu-items {
			top: 72px;
		}
	}
	.admin-bar {
		#menu-primary {
			.menu-items {
				top: 118px;
			}
		}
	}
}
