/**
 * Footer Menu
 * --------------------------------------------------------------------------- */

#menu-subsidiary {

    .menu-items {
        list-style: none;
        margin: 0 0 1.5rem;
    }

    .menu-item {
        display: inline-block;
        margin: 0 0.75rem;
    }

}