// Colors
$primary-color: #F26419;
$secondary-color: #00375D;
$body-background-color: #DDD;
$background-color: #000A16;
$text-color: #666;
$heading-color: #222;
$border-color: #CCC;
$transparent-light: rgba(255,255,255,0.5);
$transparent-lighter: rgba(255,255,255,0.75);
$transparent-dark: rgba(0,0,0,0.5);
$transparent-darker: rgba(0,0,0,0.75);
